<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Judge_function</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        function loadXMLDoc() {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp = new XMLHttpRequest();
            } else {
                // IE6, IE5 浏览器执行代码
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
                }
            }
            xmlhttp.open("POST", "./result.txt", true);
            xmlhttp.send();
        }
    </script>
</head>
<body>
<div id="judge1" style="display: block">
    <form name="whether is labor" id="form1">
        <p>
            请问是否为劳动法相关问题<br>
            <input type="radio" name="is_labor_law" value="0" onclick="check_radio()"/><label for="r1">是</label>
            <input type="radio" name="is_labor_law" value="1" onclick="check_radio()"/><label for="r2">不是</label>
            <br>
        </p>


    </form>
    <script>
        function check_radio() {

            var yes_no = $(":radio[name='is_labor_law']:checked").val();
            if (yes_no == "1") {
                alert("非劳动法问题");
                window.location.href = "http://localhost:8080"
                //window.location.href = 'http://183.174.229.140:8080';


            }
            var div1 = document.getElementById('div1');
            var div_judge = document.getElementById("judge1");
            div1.style.display = 'block';
            div_judge.style.display = 'none';

        }

    </script>

</div>

<div id="div1" style="display:none;">
    <form name="judge" action="/judge/" method="POST">
        <h1>劳动合同判断</h1>
        <p>

        请输入你的年龄: <br><input type="text" name="age"><br>
        </p>
        <p>
        请选择你的性别<br>
        <input type="radio" name="sex" id="man" value="0"/> <label for="r1">男</label>
        <input type="radio" name="sex" id="woman" value="1"/> <label for="r2">女</label>
        <br>
        <br>
        <input type="submit" value="确定">
        </p>
    </form>

</div>


</body>

</html>
